Source: freebsd-kvm
Section: libs
Priority: standard
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), libgdbm-dev, freebsd-buildutils, type-handling (>= 0.2.1)
Standards-Version: 3.6.0

Package: libkvm-dev
Architecture: kfreebsd-i386
Description: libkvm
 libkvm.
