#!/usr/bin/make -f

DEB_TAR_SRCDIR = src
SHELL = bash
PATH:=/usr/lib/freebsd/:$(PATH)

build/libkvm-dev:: apply-patches
	cd $(DEB_SRCDIR)/lib/libkvm && make

binary/libkvm-dev:: common-install-prehook-arch
	mkdir -p debian/libkvm-dev/usr/{lib,include}
	cp $(DEB_SRCDIR)/lib/libkvm/libkvm*.a debian/libkvm-dev/usr/lib/
	cp $(DEB_SRCDIR)/lib/libkvm/kvm.h debian/libkvm-dev/usr/include/

clean::
	cat debian/control.in \
	| sed "s/@kfreebsd-gnu@/`type-handling any kfreebsd-gnu`/g" \
	> debian/control

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
