Package: libbsd
Version: 0.1-1
Section: libs
Priority: optional
Architecture: kfreebsd-i386
Installed-Size: 28
Maintainer: Hector Garcia <hector@debian.org>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
