# Kernel for Debian GNU/kFreeBSD on mipsel/malta machines

include		MALTA

makeoptions	ARCH_FLAGS="-march=mips32 -mabi=32 -D__mips_o32"

options		CPU_HAVEFPU

options		KTRACE
options		EXT2FS
options		LINPROCFS
options         LINSYSFS
options		FDESCFS
options		TMPFS
options         QUOTA

# Network options
device		carp
device		pf
device		pfsync
