Source: freebsd-gdb
Section: devel
Priority: optional
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0)
Standards-Version: 3.6.0

Package: freebsd-gdb
Architecture: kfreebsd-i386
Provides: gdb
Conflicts: gdb
Description: Hacked, staticaly-linked GDB from FreeBSD.
 Hacked, staticaly-linked GDB from FreeBSD.
