# Kernel for Debian GNU/kFreeBSD on all x86-64 machines

cpu		HAMMER
ident		Debian-amd64

options		SMP		# Symmetric MultiProcessor Kernel
options		ALTQ_NOPCC	# Required for SMP build

options		COMPAT_LINUX32
options		LINPROCFS
options         LINSYSFS
options		FDESCFS
options		TMPFS
options         QUOTA

# UTF-8 console support
options		VESA
options		SC_PIXEL_MODE	# add support for the raster text mode
options		TEKEN_UTF8	# UTF-8 output handling

# Network options
device		carp
device		pf
device		pfsync

include         GENERIC
