# Kernel for Debian GNU/kFreeBSD on all x86-64 machines

cpu		HAMMER
ident		Debian-amd64

options		SMP		# Symmetric MultiProcessor Kernel
options		ALTQ_NOPCC	# Required for SMP build

options		COMPAT_LINUX32
options		LINPROCFS
options         LINSYSFS
options		FDESCFS
options		TMPFS

#include         GENERIC
