# Kernel for Debian GNU/kFreeBSD on all x86-64 machines

cpu		HAMMER
ident		Debian-amd64

options		SMP		# Symmetric MultiProcessor Kernel
options		ALTQ_NOPCC	# Required for SMP build

options		COMPAT_LINUX32
options		LINPROCFS
options         LINSYSFS
options		FDESCFS
options		TMPFS

# Use BOOTP to obtain IP address/hostname
options     BOOTP
options     BOOTP_COMPAT
# NFS mount root file system using BOOTP info
options     BOOTP_NFSROOT
options     BOOTP_NFSV3

#include         GENERIC
