# Kernel for Debian GNU/kFreeBSD on an i686 machine

cpu		I686_CPU
makeoptions	COPTFLAGS="-O2 -frename-registers -pipe -march=i686 -mtune=generic"
ident		Debian-i686

options		COMPAT_LINUX
options		LINPROCFS
options         LINSYSFS
options		FDESCFS
options		TMPFS
options         QUOTA

# UTF-8 console support
options		VESA
options		SC_PIXEL_MODE	# add support for the raster text mode
options		TEKEN_UTF8	# UTF-8 output handling

# Xbox support
options 	XBOX
device		xboxfb
device		fb


include		GENERIC
