# Kernel for Debian GNU/kFreeBSD on a XEN machine

include XEN

ident		Debian-xen
makeoptions	COPTFLAGS="-O2 -frename-registers -pipe -march=i686 -mtune=generic"

# disable extra checks enabled in upstream XEN config
nooption 	INVARIANTS		# Enable calls of extra sanity checking
nooption 	INVARIANT_SUPPORT	# Extra sanity checks of internal structures, required by INVARIANTS
nooption 	WITNESS			# Enable checks to detect deadlocks and cycles
nooption 	WITNESS_SKIPSPIN	# Don't run witness on spinlocks for speed

# Alternate queueing
options		ALTQ
options		ALTQ_CBQ        # Class Bases Queuing (CBQ)
options		ALTQ_RED        # Random Early Detection (RED)
options		ALTQ_RIO        # RED In/Out
options		ALTQ_HFSC       # Hierarchical Packet Scheduler (HFSC)
options		ALTQ_PRIQ       # Priority Queuing (PRIQ)
options		ALTQ_NOPCC      # Required for SMP build

# kFreeBSD needs
options		COMPAT_LINUX
options		LINPROCFS
options         LINSYSFS
options		FDESCFS
options		TMPFS

# raise shared memory limits
options         SHMMAXPGS=4096
options         SHMSEG=256
options         SEMMNI=256
options         SEMMNS=512
options         SEMMNU=256
options         SEMMAP=256
