Source: kfreebsd-loader
Section: base
Priority: required
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>, Guillem Jover <guillem@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), kfreebsd-source-5, bzip2, freebsd5-buildutils, libstand-dev
Standards-Version: 3.6.0

Package: kfreebsd-loader
Architecture: kfreebsd-i386 kfreebsd-amd64
Description: Loader for kernel of FreeBSD.
 Loader for kernel of FreeBSD.

