Source: fuse4bsd
Section: libs
Priority: optional
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Robert Millan <rmh@debian.org>
Build-Depends: debhelper (>= 7), po-debconf,
 freebsd-buildutils,
 libbsd-dev,
 dkms,
Standards-Version: 3.9.2

Package: fuse4bsd
Section: utils
Architecture: kfreebsd-any
Depends: ${shlibs:Depends}, ${misc:Depends}, kldutils
Recommends: fuse4bsd-dkms
Description: Filesystem in USErspace (utilities)
 Simple interface for userspace programs to export a virtual
 filesystem to kFreeBSD.
 .
 This package contains the fusermount utility which is necessary to
 mount fuse filesystems.

Package: fuse4bsd-dkms
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
# first version that supports kFreeBSD
 dkms (>= 2.2.0.1-3),
 freebsd-buildutils,
 kfreebsd-headers-8 | kfreebsd-headers,
Description: FUSE module for kFreeBSD
 This package provides FUSE module for kernel of FreeBSD.
