#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

config_files	:= $(wildcard config/*)
flavours	:= $(config_files:config/%=%)
full_version	:= $(shell dpkg-parsechangelog | grep ^Version | sed -e 's/^.*: //g')
version		:= $(shell echo $(full_version) | sed -e 's/[+-].*//g')
major		:= $(shell echo $(version) | sed -e 's/\..*//g')
revision	:= $(shell echo $(full_version) | sed -e 's/^[^+-]*//g')
os		:= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
cpu		:= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)
configfile	:= DEBCUSTOM
abiname		:= 1

SOURCE_PACKAGE	:= $(CURDIR)/debian/kfreebsd-source-$(version)
IMAGE_PACKAGE	:= $(CURDIR)/debian/kfreebsd-image-$(version)-$(abiname)
HEADERS_PACKAGE	:= $(CURDIR)/debian/kfreebsd-headers-$(version)-$(abiname)
SRC_TAR		:= kfreebsd-source-$(version).tar.bz2
SRC_DIR		:= kfreebsd-source-$(version)
HEADERS_DIR	:= kfreebsd-headers-$(version)-$(abiname)
FLAVOR_DIR	:= flavor-$(version)-$(abiname)

MAKE		:= make MACHINE_ARCH=$(cpu) CC=gcc-3.4 WERROR= 
PATH		:= /usr/lib/freebsd:$(PATH)

control:
	sed -e "s/@major@/$(major)/g" -e "s/@version@/$(version)/g" -e "s/@abiname@/$(abiname)/g" -e "s/@flavor@/$$flavor/g" \
		$(CURDIR)/debian/control.in > $(CURDIR)/debian/control
	for flavor in $(flavours) ; do \
		sed -e "s/@major@/$(major)/g" -e "s/@version@/$(version)/g" -e "s/@abiname@/$(abiname)/g" -e "s/@flavor@/$$flavor/g" \
			$(CURDIR)/debian/control.flavor.in >> $(CURDIR)/debian/control ; \
	done

clean:
	dh_testdir
	dh_testroot
	rm -rf src kfreebsd-source-* flavor-*
	rm -f debian/kfreebsd-image-*.{conffiles,preinst,postinst}

	rm -f *-stamp
	dh_clean

src:
	tar xfj $(CURDIR)/src.tar.bz2
	
	chmod +x $(CURDIR)/debian/autopatch.sh \
		&& cd src/ \
		&& $(CURDIR)/debian/autopatch.sh
	
	set -e ; for i in $(CURDIR)/debian/patches/*.diff ; do \
		echo "--- Patch $$i ---" ; \
		cat $$i | patch -p0 -d src/ ; \
	done

build-indep: build-indep-stamp
build-indep-stamp: src
	dh_testdir
	
	cp -af src $(SRC_DIR)

	touch build-indep-stamp

install-indep: install-indep-stamp
install-indep-stamp: build-indep
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -i

	mkdir -p $(SOURCE_PACKAGE)/usr/src
	chown -R root.src $(SRC_DIR)
	tar cfj $(SOURCE_PACKAGE)/usr/src/$(SRC_TAR) $(SRC_DIR)

	touch install-indep-stamp

build-arch: $(foreach flavor,$(flavours),build-flavor-$(flavor)-stamp)
build-flavor-%-stamp: src
	cp -af src $(FLAVOR_DIR)-$*
	
	# Add the abiname and the flavor to the kernel version
	sed -i -e 's/^RELEASE=".*"/RELEASE="$(version)-$(abiname)-$*"/g' $(FLAVOR_DIR)-$*/sys/conf/newvers.sh 

	# Configure the kernel
	cp config/$* $(FLAVOR_DIR)-$*/sys/$(cpu)/conf/$(configfile)
	cd $(FLAVOR_DIR)-$*/sys/$(cpu)/conf \
		&& config $(configfile)

	# Build it
	$(MAKE) -C $(FLAVOR_DIR)-$*/sys/$(cpu)/compile/$(configfile)/ depend
	$(MAKE) -C $(FLAVOR_DIR)-$*/sys/$(cpu)/compile/$(configfile)/

	touch build-flavor-$*-stamp

install-common-stamp: src
	dh_testdir 
	dh_testroot
	mkdir -p $(HEADERS_PACKAGE)/usr/src/$(HEADERS_DIR)
	cd src \
		&& find . -type f -name "*.h" -not -regex ".*modules.*" -not -regex ".*sys/i386/.*" -exec cp --parents {} $(HEADERS_PACKAGE)/usr/src/$(HEADERS_DIR) \; 
	find $(HEADERS_PACKAGE)/usr/src/$(HEADERS_DIR) -type f -exec chmod 644 {} \;

	touch install-common-stamp

install-arch: $(foreach flavor,$(flavours),install-flavor-$(flavor)-stamp)
install-flavor-%-stamp: install-common-stamp build-flavor-%-stamp
	dh_testdir
	dh_testroot

	# install device.hints
	mkdir -p $(IMAGE_PACKAGE)-$*/boot/kernel
	install -o root -g root -m 644 \
		$(FLAVOR_DIR)-$*/sys/$(cpu)/conf/GENERIC.hints \
		$(IMAGE_PACKAGE)-$*/boot/device.hints
	install -o root -g root -m 644 \
		$(FLAVOR_DIR)-$*/sys/boot/forth/loader.conf \
		$(IMAGE_PACKAGE)-$*/boot/loader.conf
	mkdir -p $(IMAGE_PACKAGE)-$*/boot/defaults
	install -o root -g root -m 644 \
		$(FLAVOR_DIR)-$*/sys/boot/forth/loader.conf \
		$(IMAGE_PACKAGE)-$*/boot/defaults/loader.conf
	
	# now install the kernel
	$(MAKE) -C $(FLAVOR_DIR)-$*/sys/$(cpu)/compile/$(configfile) DESTDIR=$(IMAGE_PACKAGE)-$* install
	chmod 644 $(IMAGE_PACKAGE)-$*/boot/kernel/kernel
	
	# override file
	mkdir -p $(IMAGE_PACKAGE)-$*/usr/share/lintian/overrides
	install -p -o root -g root -m 644 \
		debian/kfreebsd-image.overrides \
		$(IMAGE_PACKAGE)-$*/usr/share/lintian/overrides/kfreebsd-image-$(version)-$(abiname)-$*

	# scripts
	cp -f debian/kfreebsd-image.conffiles.in \
		debian/kfreebsd-image-$(version)-$(abiname)-$*.conffiles
	cp -f debian/kfreebsd-image.postinst.in \
		debian/kfreebsd-image-$(version)-$(abiname)-$*.postinst
	cp -f debian/kfreebsd-image.preinst.in \
		debian/kfreebsd-image-$(version)-$(abiname)-$*.preinst
	
	# headers package
	mkdir -p $(HEADERS_PACKAGE)-$*/usr/src/$(HEADERS_DIR)-$*/sys/$(cpu)
	cd $(FLAVOR_DIR)-$*/sys/$(cpu) \
		&& find . -type f -name "*.h" -not -regex ".*modules.*" -exec cp --parents {} $(HEADERS_PACKAGE)-$*/usr/src/$(HEADERS_DIR)-$*/sys/$(cpu) \; \
		&& cp -d --parents compile/$(configfile)/machine $(HEADERS_PACKAGE)-$*/usr/src/$(HEADERS_DIR)-$*/sys/$(cpu) \
		&& cp -d --parents conf/$(configfile) $(HEADERS_PACKAGE)-$*/usr/src/$(HEADERS_DIR)-$*/sys/$(cpu) 
	find $(HEADERS_PACKAGE)-$*/usr/src/$(HEADERS_DIR)-$*/sys/$(cpu) -type f -exec chmod 644 {} \;
	for dir in `ls $(HEADERS_PACKAGE)/usr/src/$(HEADERS_DIR)/sys` ; do \
		ln -s ../../$(HEADERS_DIR)/sys/$$dir $(HEADERS_PACKAGE)-$*/usr/src/$(HEADERS_DIR)-$*/sys/$$dir ; \
	done

	touch install-flavor-$*-stamp


# Build architecture-independent files here.
binary-indep: build-indep install-indep
	dh_testdir
	dh_testroot
	dh_installdocs -i
	dh_installchangelogs -i
	dh_link -i
	dh_strip -i
	dh_compress -i
	dh_fixperms -i
	dh_makeshlibs -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
ifeq ($(os), kfreebsd)
binary-arch: build-arch install-arch
	dh_testdir
	dh_testroot
	dh_installdocs -a
	dh_installchangelogs -a
	dh_link -a
	dh_strip -a -X/boot
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a -X/boot
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a
else
binary-arch:
	# We have nothing to do
endif	

binary: binary-indep binary-arch

.PHONY: clean build build-indep
.PHONY: binary-indep binary-arch binary-indep binary-arch binary

