Source: bsd-airtools
Section: net
Priority: optional
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>, Guillem Jover <guillem@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), freebsd5-buildutils, libpcap-dev, libssl-dev, libncurses-dev, libbsd-dev
Vcs-Browser: http://svn.debian.org/wsvn/glibc-bsd/trunk/bsd-airtools/
Vcs-Svn: svn://svn.debian.org/glibc-bsd/trunk/bsd-airtools/
Standards-Version: 3.6.2

Package: bsd-airtools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: wireless tools
 wireless tools.
