Source: kfreebsd-5
Section: devel
Priority: optional
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>, Guillem Jover <guillem@debian.org>
Build-Depends-Indep: debhelper (>= 4.1.0), bzip2, patchutils (>= 0.2.25)
Build-Depends: debhelper (>= 4.1.0), bzip2, patchutils (>= 0.2.25), dpkg (>= 1.13.9), freebsd5-buildutils (>= 5.3), flex-old | flex, gcc-3.4
Standards-Version: 3.6.2

Package: kfreebsd-source-5
Architecture: all
Section: devel
Recommends: freebsd5-buildutils
Provides: kfreebsd-source
Conflicts: kfreebsd5-source
Replaces: kfreebsd5-source
Description: source code for kernel of FreeBSD 5.3 with Debian patches
 This package provides the source code for kernel of FreeBSD 5.3, base of 
 a GNU/kFreeBSD system.

Package: kfreebsd-image-5
Architecture: kfreebsd-i386
Section: base
Essential: yes
Depends: freebsd-utils (>= 5)
Provides: kfreebsd-image
Conflicts: kfreebsd5
Replaces: kfreebsd5
Description: kernel of FreeBSD 5.3 image
 This package provides the binary image and pre-built loadable modules for 
 the kernel of FreeBSD 5.3, base of a GNU/kFreeBSD system.
 
