#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

full_version	:= $(shell dpkg-parsechangelog | grep ^Version | sed -e 's/^.*: //g')
version		:= $(shell echo $(full_version) | sed -e 's/[+-].*//g')
major		:= $(shell echo $(version) | sed -e 's/\..*//g')
revision	:= $(shell echo $(full_version) | sed -e 's/^[^+-]*//g')
kfreebsd_cpu	:= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)
ifeq ($(kfreebsd_cpu), amd64)
kfreebsd_cpu	:= x86_64
endif

SOURCE_PACKAGE	:= $(CURDIR)/debian/kfreebsd-source-$(major)
IMAGE_PACKAGE	:= $(CURDIR)/debian/kfreebsd-image-$(major)
HEADERS_PACKAGE	:= $(CURDIR)/debian/kfreebsd-headers-$(major)
SRC_TAR		:= kfreebsd-source-$(major).tar.bz2
SRC_DIR		:= kfreebsd-source-$(major)
HEADERS_DIR	:= kfreebsd-headers-$(major)

KERNEL	:= GENERIC
MAKE	:= make DESTDIR=$(IMAGE_PACKAGE) MACHINE_ARCH=$(kfreebsd_cpu) WERROR=
PATH	:= /usr/lib/freebsd:$(CURDIR)/bin:$(PATH)

clean:
	dh_testdir
	dh_testroot
	rm -rf bin src kfreebsd-source-*
	rm -f *-stamp
	dh_clean

$(SRC_DIR):
	tar xfj $(CURDIR)/src.tar.bz2
	mv src $(SRC_DIR)
	
	chmod +x $(CURDIR)/debian/autopatch.sh \
		&& cd $(SRC_DIR) \
		&& $(CURDIR)/debian/autopatch.sh
	
	for i in $(CURDIR)/debian/patches/*.diff ; do \
		echo "--- Patch $$i ---" ; \
		cat $$i | patch -p0 -d $(SRC_DIR) ; \
	done
	
	sed -e "s/@version@/$(version)/g" -e "s/@revision@/$(revision)/g" \
		$(CURDIR)/debian/patches/902_debian_version.diff.in \
		| patch -p0 -d $(SRC_DIR)

build-indep: build-indep-stamp
build-indep-stamp: $(SRC_DIR)
	dh_testdir
	
	touch build-indep-stamp

build-arch: build-arch-stamp
build-arch-stamp: $(SRC_DIR)
	dh_testdir
	
	mkdir -p $(CURDIR)/bin
	ln -s `which gcc-3.4` $(CURDIR)/bin/cc
	ln -s `which gcc-3.4` $(CURDIR)/bin/gcc
	cd $(SRC_DIR)/sys/$(kfreebsd_cpu)/conf \
		&& config $(KERNEL)
	$(MAKE) -C $(SRC_DIR)/sys/$(kfreebsd_cpu)/compile/$(KERNEL)/ depend
	$(MAKE) -C $(SRC_DIR)/sys/$(kfreebsd_cpu)/compile/$(KERNEL)/
	
	touch build-arch-stamp

install-indep: install-indep-stamp
install-indep-stamp: build-indep
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Source package
	mkdir -p $(SOURCE_PACKAGE)/usr/src
	chown -R root.src $(SRC_DIR)
	tar cfj $(SOURCE_PACKAGE)/usr/src/$(SRC_TAR) $(SRC_DIR)

	# Headers package
	mkdir -p $(HEADERS_PACKAGE)/usr/src/$(HEADERS_DIR)
	cd $(SRC_DIR) \
		&& find . -type f -name "*.h" -exec cp --parents {} $(HEADERS_PACKAGE)/usr/src/$(HEADERS_DIR) \;
	find $(HEADERS_PACKAGE)/usr/src/$(HEADERS_DIR) -type f -exec chmod 644 {} \;	
	
	touch install-indep-stamp

install-arch: install-arch-stamp
install-arch-stamp: build-arch
	# install device.hints
	mkdir -p $(IMAGE_PACKAGE)/boot/kernel
	install -o root -g root -m 644 \
		$(SRC_DIR)/sys/$(kfreebsd_cpu)/conf/GENERIC.hints \
		$(IMAGE_PACKAGE)/boot/device.hints
	install -o root -g root -m 644 \
		$(SRC_DIR)/sys/boot/forth/loader.conf \
		$(IMAGE_PACKAGE)/boot/loader.conf
	mkdir -p $(IMAGE_PACKAGE)/boot/defaults
	install -o root -g root -m 644 \
		$(SRC_DIR)/sys/boot/forth/loader.conf \
		$(IMAGE_PACKAGE)/boot/defaults/loader.conf
	mkdir -p $(IMAGE_PACKAGE)/sbin
	ln -s /bin/true \
		$(IMAGE_PACKAGE)/sbin/fsck.cd9660
	
	# now install the kernel
	$(MAKE) -C $(SRC_DIR)/sys/$(kfreebsd_cpu)/compile/$(KERNEL) install
	chmod 644 $(IMAGE_PACKAGE)/boot/kernel/kernel
	
	# Override file
	mkdir -p $(IMAGE_PACKAGE)/usr/share/lintian/overrides
	install -p -o root -g root -m 644 \
		$(CURDIR)/debian/kfreebsd-image-$(major).overrides \
		$(IMAGE_PACKAGE)/usr/share/lintian/overrides/kfreebsd-image-$(major)

# Build architecture-independent files here.
binary-indep: build-indep install-indep
	dh_testdir
	dh_testroot
	dh_installdocs -i
	dh_installchangelogs -i
	dh_link -i
	dh_strip -i
	dh_compress -i
	dh_fixperms -i
	dh_makeshlibs -i
	dh_installdeb -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build-arch install-arch
	dh_testdir
	dh_testroot
	dh_installdocs -a
	dh_installchangelogs -a
	dh_link -a
	dh_strip -a -X/boot
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a -X/boot
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch

.PHONY: clean build build-indep
.PHONY: binary-indep binary-arch binary-indep binary-arch binary

