Source: kfreebsd-headers
Section: devel
Priority: standard
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), bzip2
Standards-Version: 3.6.0

Package: kfreebsd-headers
Architecture: kfreebsd-i386
Replaces: libc0.1-dev
Depends: kfreebsd4-headers, kfreebsd5-headers
Description: kFreeBSD headers.
 kFreeBSD headers.
