Source: kfreebsd-headers
Section: devel
Priority: standard
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>, Guillem Jover <guillem@debian.org>
Build-Depends: debhelper (>= 4.1.0)
Standards-Version: 3.6.2

Package: kfreebsd-headers
Architecture: any
Depends: kfreebsd5-headers
Conflicts: kfreebsd4-headers
Description: kFreeBSD headers.
 kFreeBSD headers.
