#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

full_version	:= $(shell dpkg-parsechangelog | grep ^Version | sed -e 's/^.*: //g')
version		:= $(shell echo $(full_version) | sed -e 's/[+-].*//g')
major		:= $(shell echo $(version) | sed -e 's/\..*//g')
revision	:= $(shell echo $(full_version) | sed -e 's/^[^+-]*//g')
package		:= kfreebsd$(major)-source


clean:
	dh_testdir
	dh_testroot
	rm -rf src src.orig src.test
	rm -f *-stamp
	rm -f debian/patches/902_debian_version.diff debian/patches/001_autopatch.diff
	sed -e "s/@major@/$(major)/g" -e "s/@version@/$(version)/g" debian/control.in > debian/control
	dh_clean


build: build-stamp
build-stamp:
	dh_testdir
	
	tar xfj src.tar.bz2
	
	sed -e "s/@version@/$(version)/g" -e "s/@revision@/$(revision)/g" debian/patches/902_debian_version.diff.in > debian/patches/902_debian_version.diff
	
	cp -af src src.orig
	chmod +x $(CURDIR)/debian/autopatch.sh && \
		$(CURDIR)/debian/autopatch.sh
	diff -Nur src.orig src > debian/patches/001_autopatch.diff || true

	cp -af src.orig src.test
	cd $(CURDIR)/src.test \
		&& cat $(CURDIR)/debian/patches/*.diff | patch -p1
	
	touch build-stamp


install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	mkdir -p $(CURDIR)/debian/$(package)/usr/src/kfreebsd$(major)
	install -m 644 -g root -o root src.tar.bz2 $(CURDIR)/debian/$(package)/usr/src/kfreebsd$(major)
	mkdir -p $(CURDIR)/debian/$(package)/usr/src/kfreebsd$(major)/patches
	install -m 644 -g root -o root debian/patches/*.diff $(CURDIR)/debian/$(package)/usr/src/kfreebsd$(major)/patches


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime	
#	dh_installinit
#	dh_installcron
	dh_installman
	dh_installinfo
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install control
