Source: istgt
Section: admin
Priority: extra
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Arno Töll <debian@toell.net>
Build-Depends: debhelper (>= 8.0), autotools-dev, libssl-dev, libcam-dev [kfreebsd-any]
Standards-Version: 3.9.2
Homepage: http://www.peach.ne.jp/archives/istgt/
Vcs-Svn: svn://svn.debian.org/svn/glibc-bsd/trunk/istgt
Vcs-Browser: https://alioth.debian.org/scm/viewvc.php/trunk/istgt/?root=glibc-bsd


Package: istgt
Architecture: any
Depends: lsb-base (>= 3.0-6), ${shlibs:Depends}, ${misc:Depends}
Description: iSCSI userspace target daemon for Unix-like operating systems
 istgt is a iSCSI target for Unix-like operating systems (including those with
 Linux and kFreeBSD kernels) running as daemon process in user space.
 .
 It supports:
 .
  * Multipath I/O
  * 64bit LBA for volumes over 2 TiB size
  * Header/Data digest by CRC32C
  * Mutual authentication with CHAP
  * Multiple LUNs and ACLs for portals
  * IPv6/IPv4 support
