Source: istgt
Section: admin
Priority: extra
Maintainer: Arno Töll <debian@toell.net>
Build-Depends: debhelper (>= 8.0), autotools-dev, libssl-dev
Standards-Version: 3.9.2
Homepage: http://www.peach.ne.jp/archives/istgt/

Package: istgt
Architecture: any
Depends: lsb-base (>= 3.0-6), ${shlibs:Depends}, ${misc:Depends}
Description: iSCSI userspace target for kFreeBSD systems
 istgt is a iSCSI target for kFreeBSD systems running in user space.
 It supports:
 .
  * Multipath I/O
  * 64bit LBA for volumes over 2 TiB size
  * Header/Data digest by CRC32C
  * Mutual authentication with CHAP
  * Multiple LUNs and ACLs for portals
  * IPv6/IPv4 support
