#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --with-configdir=/etc/istgt \
		--with-logfacility=daemon \
		--localstatedir=/var/run/istgt \
		--enable-symlink-device \
		$(shell dpkg-buildflags --export=configure)


override_dh_install:
	dh_install
	rm -f debian/istgt/etc/rc.d/istgt
	rmdir debian/istgt/etc/rc.d
	rm -f debian/istgt/usr/man/man1/istgt*.gz
	rmdir debian/istgt/usr/man/man1 debian/istgt/usr/man
	rm -f debian/istgt/etc/istgt/*.conf.sample
	install -m 0644 -t debian/istgt/etc/istgt debian/README.configuration

override_dh_installinit:
	dh_installinit --no-start
