#!/usr/bin/make -f

major = 5
package = kfreebsd$(major)-headers

DEB_TAR_SRCDIR			:= src
DEB_AUTO_UPDATE_DEBIAN_CONTROL	:= yes
DEB_PATCHDIRS			:= /usr/src/kfreebsd$(major)/patches \
	debian/patches
DEB_PATCHDIRS_READONLY		:= yes

binary/$(package):: common-install-prehook-arch
	for i in `cd $(DEB_SRCDIR)/sys ; find . -type f -name "*.h"` ; do \
		mkdir -p debian/$(package)/usr/src/$(package)/$$i ; \
		rmdir debian/$(package)/usr/src/$(package)/$$i ; \
		cp $(DEB_SRCDIR)/sys/$$i \
		debian/$(package)/usr/src/$(package)/$$i ; \
	done

clean::
	ln -sf /usr/src/kfreebsd$(major)/src.tar* $(CURDIR)/

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
