Source: freebsd5-buildutils
Section: devel
Priority: extra
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>, Guillem Jover <guillem@debian.org>
Build-Depends: patchutils (>= 0.2.25), debhelper (>= 4.1.0), pmake, flex, bison
Standards-Version: 3.6.1

Package: freebsd5-buildutils
Architecture: any
Depends: ${shlibs:Depends}, dash
Provides: freebsd-buildutils
Conflicts: freebsd-buildutils
Description: Utilities for building FreeBSD 5.x sources
 This package contains the FreeBSD 5.x counterparts of some standard build
 utilities (make, yacc, lex ..)
 .
 They have some specific modifications needed to be able to build FreeBSD 5.x
 sources (such as ufsutils).
