#!/usr/bin/make -f

PATH := /usr/lib/freebsd:$(PATH)

VERSION = $(shell dpkg-parsechangelog | sed -n '/^Version/ {s/.*: //; s/-.*//; p;}')
SVNLOC = "http://svn.freebsd.org/base/release/$(VERSION).0"

DESTDIR = $(CURDIR)/debian/tmp
ORIGDIR = freebsd-quota-$(VERSION)
TARNAME = freebsd-quota_$(VERSION).orig.tar.gz

CFLAGS = -Wall -g -pipe -fPIC -I. -D_GNU_SOURCE -D'__FBSDID(string)=' -D'__RCSID(string)='
PMAKE = COPTS="$(CFLAGS)" CFLAGS="$(CFLAGS)" NO_WERROR=1 NOGCCERROR=1 NOSHARED=NO NO_SHARED=NO DESTDIR=$(DESTDIR) make

get-orig-source:
	rm -rf $(ORIGDIR)
	for nn in sbin/fsck sbin/fsck_ffs sbin/quotacheck \
		  libexec/rpc.rquotad usr.bin/quota \
		  usr.sbin/edquota usr.sbin/quotaon usr.sbin/repquota; \
	do \
		svn export $(SVNLOC)/$$nn $(ORIGDIR)/$$nn; \
	done
	tar --numeric-owner --owner 0 --group 0 \
		-czf $(CURDIR)/../$(TARNAME) $(ORIGDIR)
	rm -rf $(ORIGDIR)

build:
	$(PMAKE) -C libexec/rpc.rquotad
	$(PMAKE) -C sbin/quotacheck
	$(PMAKE) -C usr.bin/quota
	$(PMAKE) -C usr.sbin/edquota
	$(PMAKE) -C usr.sbin/quotaon
	$(PMAKE) -C usr.sbin/repquota

override_dh_auto_clean:
	$(PMAKE) -C libexec/rpc.rquotad clean
	$(PMAKE) -C sbin/quotacheck clean
	$(PMAKE) -C usr.bin/quota clean
	$(PMAKE) -C usr.sbin/edquota clean
	$(PMAKE) -C usr.sbin/quotaon clean
	$(PMAKE) -C usr.sbin/repquota clean

override_dh_installinit:
	dh_installinit -- start 13 S . stop 06 0 6 .

%:
	dh $@
