Source: kfreebsd-common
Section: base
Priority: required
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0)
Standards-Version: 3.6.1

Package: kfreebsd-common
Architecture: all
Depends: debconf, module-init-tools | kldutils (>= 5.4-5), kfreebsd-image
Conflicts: kfreebsd-config
Replaces: kfreebsd-config
Description: kFreeBSD common setup
 This package contains common setup routines that affect any (or most) versions
 of kFreeBSD.
