# Kernel for Debian GNU/kFreeBSD on an i686 SMP machine

cpu		I686_CPU
makeoptions	COPTFLAGS="-O2 -frename-registers -pipe -march=i686 -mtune=generic"
ident		Debian-i686-SMP

options		SMP		# Symmetric MultiProcessor Kernel
options		ALTQ_NOPCC	# Required for SMP build

options		COMPAT_LINUX
options		LINPROCFS
options         LINSYSFS
options		FDESCFS
options		TMPFS

#include		GENERIC
