Package: libbsd-dev
Version: 0.1-1
Section: libdevel
Priority: optional
Architecture: kfreebsd-i386
Depends: libbsd (= 0.1-1)
Installed-Size: 48
Maintainer: Hector Garcia <hector@debian.org>
Source: libbsd
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
