Source: kfreebsd4-headers
Section: devel
Priority: standard
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), bzip2, libbsd-dev
Standards-Version: 3.6.0

Package: kfreebsd4-headers
Architecture: all
Description: kFreeBSD headers.
 kFreeBSD headers.
