#!/usr/bin/make -f

version := 4.6
DEB_TAR_SRCDIR = src

build/kfreebsd4-headers:: apply-patches
	chmod +x debian/testheader
#	set -e ; for i in \
#		`find $(CURDIR)/$(DEB_SRCDIR) -type f -name \*.h` ; \
#		do $(CURDIR)/debian/testheader $$i ; done

binary/kfreebsd4-headers:: common-install-prehook-arch
	mkdir -p debian/kfreebsd4-headers/usr/src/kfreebsd4-headers
	cp -a $(DEB_SRCDIR)/sys/* \
		debian/kfreebsd4-headers/usr/src/kfreebsd4-headers/

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
