Source: kfreebsd-config
Section: base
Priority: required
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0)
Standards-Version: 3.6.1

Package: kfreebsd-config
Architecture: kfreebsd-i386
Depends: debconf, kldutils (>= 5.4-5)
Description: kFreeBSD module configuration package
 This package contains debconf templates that handle automated loading of your
 selected kFreeBSD modules during boot, via the /etc/modules.d/ interface.
