Source: kfreebsd-config
Section: base
Priority: important
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0)
Standards-Version: 3.6.1

Package: kfreebsd-config
Architecture: all
Depends: debconf, kldutils (>= 5.4-5)
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
