Source: kfreebsd5
Section: base
Priority: required
Maintainer: Robert Millan <rmh@debian.org>
Uploaders: Nathan Hawkins <utsl@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), bzip2, freebsd-buildutils, libdb4.2-dev, flex-old | flex
Standards-Version: 3.5.2

Package: kfreebsd5
Section: base
Architecture: kfreebsd-i386
Essential: yes
Conflicts: makedev
Description: Kernel of FreeBSD 5.x
 The kernel of FreeBSD 5.x, base of a GNU/kFreeBSD system.
