#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DH_COMPAT=4

major		= 5
version		= $(major).2.1

DEB_AUTO_UPDATE_DEBIAN_CONTROL	= yes
PWD = $(shell pwd)
DEB_TAR_SRCDIR=src
DEB_DH_SHLIBDEPS_ARGS=-X/boot

include debian/mk/build.mk
include debian/mk/mkdirs.mk
include debian/mk/patches.mk

include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/debhelper.mk
