body
{
    color: #000000;
    background-color: #ffffff;
    font-family: Tahoma, sans-serif;
    font-size: small;
    line-height: 1.3em;
}

a:link
{
    color: #990000;
    text-decoration: none;
}

a:hover
{
    color: #990000;
    text-decoration: underline;
}

a:visited
{
    color: #990000;
    text-decoration: none;
}

a:visited:hover
{
    color: #c96020;
    text-decoration: underline;
}

hr
{
    left: -2px;
    right: -2px;
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 40px;
    position: absolute;
}

ul
{
    margin-left: 3in;
}

li
{
    list-style-type: square;
    margin-left: 0.3in;
    line-height: 1.5em;
}

.leftli
{
    margin: 0;
    text-align: left;
}

tt.pn 
{
    font-family: monospace;
}

.header
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.headerleft
{
    left: 5px;
    padding: 5px;
    position: absolute;
    text-align: left;
}

.headerright
{
    right: 5px;
    padding: 5px;
    position: absolute;
    text-align: right;
}

#frontheader
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

#headertitle
{
    color: #990000;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

#headersubtitle
{
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.footer
{
    left: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2in;
    padding: 5px;
    text-align: right;
    line-height: 1.7em;
}

.footerleft
{
    left: 5px;
    margin-top: 0.1in;
    padding: 5px;
    position: absolute;
    text-align: left;
}

.footerright
{
    right: 5px;
    margin-top: 0.1in;
    padding: 5px;
    position: absolute;
    text-align: right;
}

.content
{
    margin-left: 0.1in;
    margin-right: 0.3in;
    padding: 1pt;
}

.contenttitle
{
    font-size: medium;
    font-weight: bold;
    padding: 0pt;
}

#fronttitle
{
    color: #990000;
    font-size: large;
    font-weight: bold;
}

.note 
{
    color: #452c63;
    background-color: #f5f5f5;
    border: #d4d4d4 solid;	
    border-width: thin;
    font-family: monospace;
    font-size: medium;
    text-decoration: none;
    margin-left: 0.2in;
    margin-right: 4in;
    min-width: 500px;
    max-width: 600px;
    padding: 10pt;
    line-height: 1.3em;
}
