Source: glibc-kbsd
Section: devel
Priority: optional
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0)
Standards-Version: 3.6.0

Package: glibc-kbsd
Architecture: all
Description: Sysdeps source directory for k*BSD support in Glibc
 Sysdeps source directory for k*BSD support in Glibc.
