Source: freebsd6-buildutils
Section: devel
Priority: extra
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>, Guillem Jover <guillem@debian.org>
Build-Depends: patchutils (>= 0.2.25), debhelper (>= 4.1.0), pmake, flex, bison, libbsd-dev, gcc-3.4
Standards-Version: 3.7.3

Package: freebsd6-buildutils
Architecture: any
Depends: ${shlibs:Depends}, bsdmainutils, unzip, patchutils, dash, gcc-3.4, original-awk, make
#
# The following dependencies are needed because of symlinks in /usr/lib/freebsd:
#   sh -> dash
#   cc -> gcc-3.4
#   awk -> original-awk
#   gmake -> make
#
Conflicts: freebsd5-buildutils, freebsd-buildutils, pmake
Provides: freebsd-buildutils
Description: Utilities for building FreeBSD 6.x sources
 This package contains the FreeBSD 6.x counterparts of some standard build
 utilities (make, yacc, lex ..)
 .
 They have some specific modifications needed to be able to build FreeBSD 6.x
 sources (such as ufsutils).
