Source: freebsd-libs
Section: libs
Priority: optional
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Build-Depends: debhelper (>= 4.1.0), freebsd5-buildutils, libbsd-dev
Standards-Version: 3.6.1

Package: libcam-dev
Section: libdevel
Architecture: kfreebsd-i386
Depends: ${shlibs:Depends}, libcam0 (>= ${Source-Version}), libc-dev, libbsd-dev
Description: FreeBSD CAM (Common Access Method) library
 This package includes static objects and headers.

Package: libcam0
Architecture: kfreebsd-i386
Depends: ${shlibs:Depends}, libsbuf0 (>= ${Source-Version})
Description: FreeBSD CAM (Common Access Method) library
 This package includes shared objects.

Package: libsbuf-dev
Section: libdevel
Architecture: kfreebsd-i386
Depends: ${shlibs:Depends}, libsbuf0 (>= ${Source-Version}), libc-dev
Description: FreeBSD libsbuf
 This package includes static objects.

Package: libsbuf0
Architecture: kfreebsd-i386
Depends: ${shlibs:Depends}
Description: FreeBSD libsbuf
 This package includes shared objects.
