Source: freebsd-libs
Section: libs
Priority: optional
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>
Build-Depends: debhelper (>= 5.0.0), quilt, freebsd-buildutils, libbsd-dev (>= 0.1.4),
 libfreebsd-dev, libgdbm-dev, kfreebsd-kernel-headers (>= 0.34), libexpat-dev
# libexpat-dev: aka bsdxml. needed by libgeom
Vcs-Browser: http://svn.debian.org/wsvn/glibc-bsd/trunk/freebsd-libs/
Vcs-Svn: svn://svn.debian.org/glibc-bsd/trunk/freebsd-libs/
Standards-Version: 3.8.1

Package: libsbuf0
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}
Description: FreeBSD string buffer library
 This library provide a way to handle string buffers. It contains
 numerous functions such as append, copy, cat, print, trim whitespace
 characters, etc.

Package: libsbuf-dev
Section: libdevel
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: libsbuf0 (>= ${binary:Version}), libc0.1-dev | libc-dev
Description: Development files for libsbuf
 This package contains the header files and static library needed to
 compile applications that use libsbuf.

Package: libcam0
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}
Description: FreeBSD CAM (Common Access Method) library
 The CAM (Common Access Method) library provides a way for userland
 SCSI applications to construct a SCSI command.

Package: libcam-dev
Section: libdevel
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: libcam0 (>= ${binary:Version}), libc0.1-dev | libc-dev, libbsd-dev
Description: Development files for libcam
 This package contains the header files and static library needed to
 compile applications that use libcam.

Package: libgeom0
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}
Description: FreeBSD GEOM library
 This library provides an interface to GEOM, a modular disk I/O request
 transformation framework provided by the kernel of FreeBSD.

Package: libgeom-dev
Section: libdevel
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: libgeom0 (>= ${binary:Version}), libc0.1-dev | libc-dev, libbsd-dev
Description: Development files for libgeom
 This package contains the header files and static library needed to
 compile applications that use libcam.

Package: libusbhid3
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}
Description: FreeBSD library to access USB HID devices
 The usbhid library provides routines to extract data from USB Human
 Interface Devices.
 .
 USB HID devices send and receive data layed out in a device dependent
 way. The usbhid library contains routines to extract the report
 descriptor which contains the data layout information and then use this
 information.

Package: libusbhid-dev
Section: libdevel
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: libusbhid3 (>= ${binary:Version}), libc0.1-dev | libc-dev, libbsd-dev
Description: Development files for libusbhid
 This package contains the header files and static library needed to
 compile applications that use libusbhid.

Package: libkvm0
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}
Description: FreeBSD kvm (kernel memory interface) library
 The kvm library provides a uniform interface for accessing kernel virtual
 memory images, including live systems and crash dumps.

Package: libkvm-dev
Section: libdevel
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: libkvm0 (>= ${binary:Version}), libc0.1-dev | libc-dev,
 libfreebsd-dev, libbsd-dev
Description: Development files for libkvm
 This package contains the header files and static library needed to
 compile applications that use libkvm.

Package: libdevstat6
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}
Description: FreeBSD devstat (kernel interface) library
 The devstat library provides a uniform interface for accessing kernel devstat
 interface.

Package: libdevstat-dev
Section: libdevel
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: libdevstat6 (>= ${binary:Version}), libkvm-dev, libc0.1-dev | libc-dev,
 libfreebsd-dev, libbsd-dev
Description: Development files for libdevstat
 This package contains the header files and static library needed to
 compile applications that use libdevstat.

Package: libipx2
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}
Description: FreeBSD IPX address conversion support library
 The IPX library provides a set of routune to convert IPX addresses.

Package: libipx-dev
Section: libdevel
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: libipx2 (>= ${binary:Version}), libc0.1-dev | libc-dev
Description: Development files for libipx
 This package contains the header files and static library needed to
 compile applications that use libipx.

Package: libkiconv3
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}
Description: FreeBSD kernel side iconv library
 The kiconv library provides multi-byte character conversion tables for kernel
 side iconv service.

Package: libkiconv-dev
Section: libdevel
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: libkiconv3 (>= ${binary:Version}), libc0.1-dev | libc-dev
Description: Development files for libkiconv
 This package contains the header files and static library needed to
 compile applications that use libkiconv.
