#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
SHELL=bash

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

CFLAGS = -Wall -g -pipe -fPIC -I. -D_GNU_SOURCE

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

ANONCVS=anoncvs@anoncvs.fr.freebsd.org:/home/ncvs
RELENG=RELENG_7_1_0_RELEASE
VERSION=7.1
PATH:=/usr/lib/freebsd:$(PATH)
DESTDIR=$(CURDIR)/debian/tmp
PMAKE=COPTS="$(CFLAGS)" CFLAGS="$(CFLAGS)" NO_WERROR=1 NOGCCERROR=1 NOSHARED=NO NO_SHARED=NO DESTDIR=$(DESTDIR) make
export SHLIB_MAJOR=0
export SHLIBDIR=/usr/lib

build: build-arch build-indep

get-orig-source:
	rm -rf freebsd-libs-$(VERSION)
	for i in lib/libcam lib/libdevstat lib/libgeom lib/libipx lib/libkiconv \
	         lib/libkvm lib/libsbuf lib/libusbhid sys/cam sys/kern/subr_sbuf.c ; do \
	    cvs -d $(ANONCVS) export -r $(RELENG) -N -d freebsd-libs-$(VERSION) src/$$i ; \
	done
	mv freebsd-libs-$(VERSION)/src/* freebsd-libs-$(VERSION)
	rmdir freebsd-libs-$(VERSION)/src
	tar -czf ../freebsd-libs_$(VERSION).orig.tar.gz freebsd-libs-$(VERSION)
	rm -rf freebsd-libs-$(VERSION)

patch: patch-stamp
patch-stamp:
	QUILT_PATCHES=debian/patches quilt push -a || test $$? = 2
	touch patch-stamp

build-arch: build-arch-stamp
build-arch-stamp: build-cam build-geom build-sbuf build-ipx build-kiconv build-kvm build-usbhid build-devstat
	touch build-arch-stamp

build-cam: build-sbuf patch 
	$(PMAKE) -C $(CURDIR)/lib/libcam

build-geom: build-sbuf patch
	$(PMAKE) -C $(CURDIR)/lib/libgeom

build-ipx: patch
	$(PMAKE) -C $(CURDIR)/lib/libipx

build-kiconv: patch
	$(PMAKE) -C $(CURDIR)/lib/libkiconv

build-kvm: patch
	$(PMAKE) -C $(CURDIR)/lib/libkvm

build-devstat: patch build-kvm
	$(PMAKE) -C $(CURDIR)/lib/libdevstat

build-sbuf: patch
	$(PMAKE) -C $(CURDIR)/lib/libsbuf

build-usbhid: patch
	$(PMAKE) -C $(CURDIR)/lib/libusbhid

build-indep: build-indep-stamp
build-indep-stamp:
	touch build-indep-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f *stamp

	# Add here commands to clean up after the build process.
	rm -rf patch $(KERN_DIR)

	dh_clean 

install: install-indep install-arch
install-indep:

install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s 
	dh_installdirs -s

	mkdir -p $(DESTDIR)/usr/{lib,include,share/man/man3}
	$(PMAKE) -C $(CURDIR)/lib/libsbuf install
	$(PMAKE) -C $(CURDIR)/lib/libcam install
	$(PMAKE) -C $(CURDIR)/lib/libgeom install
	$(PMAKE) -C $(CURDIR)/lib/libipx install
	$(PMAKE) -C $(CURDIR)/lib/libkiconv install
	$(PMAKE) -C $(CURDIR)/lib/libkvm install
	$(PMAKE) -C $(CURDIR)/lib/libdevstat install
	$(PMAKE) -C $(CURDIR)/lib/libusbhid install

	dh_install -s --list-missing --sourcedir=debian/tmp

# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate	
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
#	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure
