#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

full_version	:= $(shell dpkg-parsechangelog | grep ^Version | sed -e 's/^.*: //g')
version		:= $(shell echo $(full_version) | sed -e 's/[+-].*//g')
major		:= $(shell echo $(version) | sed -e 's/\..*//g')
revision	:= $(shell echo $(full_version) | sed -e 's/^[^+-]*//g')
package		:= kfreebsd$(major)

kfreebsd_cpu	:= $(shell dpkg-architecture -qDEB_HOST_ARCH_CPU)
ifeq ($(kfreebsd_cpu), x86_64)
kfreebsd_cpu	:= amd64
endif

KERNEL		:= GENERIC
MAKE		:= make DESTDIR=$(CURDIR)/debian/$(package) MACHINE_ARCH=$(kfreebsd_cpu) WERROR=
PATH		:= /usr/lib/freebsd:$(CURDIR)/bin:$(PATH)


clean:
	dh_testdir
	dh_testroot
	rm -rf src bin
	rm -f *-stamp
	dh_clean


control:
	dh_testdir
	sed -e "s/@major@/$(major)/g" -e "s/@version@/$(version)/g" debian/control.in > debian/control


unpack: unpack-stamp
unpack-stamp:
	dh_testdir
	tar xfj /usr/src/kfreebsd$(major)/src.tar.bz2
	cat /usr/src/kfreebsd$(major)/patches/* | patch -p0
	touch unpack-stamp


build: build-stamp
build-stamp: unpack
	dh_testdir

	mkdir -p $(CURDIR)/bin
	ln -sf `which gcc-3.4` $(CURDIR)/bin/cc
	ln -sf `which gcc-3.4` $(CURDIR)/bin/gcc
	cd $(CURDIR)/src/sys/$(kfreebsd_cpu)/conf \
		&& config $(KERNEL)
	cd $(CURDIR)/src/sys/$(kfreebsd_cpu)/compile/$(KERNEL)/ \
		&& $(MAKE) depend
	cd $(CURDIR)/src/sys/$(kfreebsd_cpu)/compile/$(KERNEL)/ \
		&& $(MAKE)
	
	touch build-stamp


install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# install device.hints
	install -o root -g root -m 644 \
		$(CURDIR)/src/sys/$(kfreebsd_cpu)/conf/GENERIC.hints \
		$(CURDIR)/debian/$(package)/boot/device.hints
	install -o root -g root -m 644 \
		$(CURDIR)/src/sys/boot/forth/loader.conf \
		$(CURDIR)/debian/$(package)/boot/loader.conf
	install -o root -g root -m 644 \
		$(CURDIR)/src/sys/boot/forth/loader.conf \
		$(CURDIR)/debian/$(package)/boot/defaults/loader.conf

	# now install the kernel
	cd src/sys/$(kfreebsd_cpu)/compile/$(KERNEL) && \
		$(MAKE) install
	chmod 644 $(CURDIR)/debian/$(package)/boot/kernel/kernel


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.


# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime	
#	dh_installinit
#	dh_installcron
	dh_installman
	dh_installinfo
	dh_installchangelogs 
	dh_link
	dh_strip -X/boot
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps -X/boot
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install control
