Source: libvolume-id
Section: libs
Priority: optional
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>
Build-Depends: debhelper (>> 4.0.0), quilt (>= 0.40)
Standards-Version: 3.7.3

Package: libvolume-id0
Section: libs
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}
Description: libvolume_id shared library
 This library is used to detect the type of a file system and read its
 metadata.

Package: libvolume-id-dev
Section: libdevel
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}, libvolume-id0 (= ${binary:Version})
Description: libvolume_id development headers
 This package provides the static libraries and header files needed
 to link programs with libvolume_id.


