Source: freebsd-moused
Section: utils
Priority: optional
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: cdbs (>= 0.4.23-1.1), cdbs (>= 0.4.26-2), type-handling (>= 0.2.5), debhelper (>= 4.1.0), patchutils
Standards-Version: 3.6.0

Package: moused
Architecture: kfreebsd-i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FreeBSD mouse daemon
 FreeBSD mouse daemon.
