Source: freebsd-moused
Section: utils
Priority: optional
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: cdbs (>= 0.4.26-2), debhelper (>= 4.1.0), patchutils
Standards-Version: 3.6.0

Package: moused
Architecture: kfreebsd-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FreeBSD mouse daemon
 FreeBSD mouse daemon.
