Source: freebsd-moused
Section: utils
Priority: optional
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: debhelper (>= 7), freebsd-buildutils
Standards-Version: 3.9.2

Package: moused
Architecture: kfreebsd-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FreeBSD mouse daemon
 FreeBSD mouse daemon.
