#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g -pipe
CXXFLAGS = -Wall -g -pipe

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
	CXXFLAGS += -O0
else
	CFLAGS += -O2
	CXXFLAGS += -O2
endif

SOURCE = freebsd-moused
VERSION = $(shell dpkg-parsechangelog | sed -e '/^Version:/!d' -e 's/^Version: //g' -e 's/-.*//g')
SVN = http://svn.freebsd.org/base/release/$(VERSION).0
ORIGDIR = $(SOURCE)-$(VERSION)
TARNAME =$(SOURCE)_$(VERSION).orig.tar.gz

get-orig-source:
	rm -rf $(ORIGDIR)
	mkdir -p $(ORIGDIR)
	for i in usr.sbin/moused ; do \
	    svn export $(SVN)/$$i $(ORIGDIR)/$$i ; \
	done
	tar --numeric-owner --owner 0 --group 0 -czf ../$(TARNAME) $(ORIGDIR)
	rm -rf $(ORIGDIR)

PATH := /usr/lib/freebsd:$(PATH)
DESTDIR = $(CURDIR)/debian/moused
PMAKE = COPTS="$(CFLAGS)" CFLAGS="$(CFLAGS)" NO_WERROR=1 NOGCCERROR=1 NOSHARED=NO NO_SHARED=NO DESTDIR=$(DESTDIR) make

build-arch:
	$(PMAKE) -C usr.sbin/moused

build-indep:

build: build-arch build-indep

clean:
	dh_testdir
	dh_testroot

	$(PMAKE) -C usr.sbin/moused clean

	dh_clean

install-indep: build-indep

install-arch: build-arch
	dh_testdir
	dh_testroot
	dh_prep -a
	dh_installdirs -a

	$(PMAKE) -C usr.sbin/moused install
	# Geez
	mv $(DESTDIR)/moused $(DESTDIR)/usr/sbin/

	dh_install -a

install: install-indep install-arch

binary-indep: install-indep
# We have nothing to do by default.

binary-arch: install-arch
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installinit
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch binary-indep

.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch
