#!/usr/bin/make -f

SHELL=bash
DEB_TAR_SRCDIR			:= src

PATH:=/usr/lib/freebsd:$(PATH)
DESTDIR=$(CURDIR)/debian/moused
PMAKE=make DESTDIR=$(DESTDIR)

build/moused:: apply-patches
	cd $(DEB_SRCDIR)/usr.sbin/moused && $(PMAKE)

binary/moused:: common-install-prehook-arch
	cd $(DEB_SRCDIR)/usr.sbin/moused && $(PMAKE) install
	# geez
	mv $(DESTDIR)/{moused,usr/sbin/}

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
