Source: libipx
Priority: optional
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), freebsd-buildutils, type-handling (>= 0.2.1)
Standards-Version: 3.6.0

Package: libipx-dev
Section: libdevel
Architecture: kfreebsd-i386
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
