#!/usr/bin/make -f

DEB_TAR_SRCDIR := src/lib/libipx
PATH:=/usr/lib/freebsd:$(PATH)
MAKE:=make

binary/libipx-dev:: common-install-prehook-arch
	cd $(DEB_SRCDIR) && $(MAKE) DESTDIR=$(CURDIR)/debian/libipx-dev install

clean::
	cat debian/control.in \
	| sed "s/@kfreebsd-gnu@/`type-handling any kfreebsd-gnu`/g" \
	> debian/control

include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
