.content {
    padding: 45px;
    margin-right: 180px;
    clear: both;
}

.item {
    position: relative;
}

.itemtitle {
    color: #990000;
    font-size: 103%;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
    width: 80%;
    border-bottom: 1px solid #BCBCBC;
    margin-bottom: 0;
}

.itemdate {
    font-size: 65%;
    color: #000000;
    text-align: right;
}

.side {
    background: #F3F3F3;
    color: #444444;
    border-left: 1px dotted #BCBCBC;
    border-bottom: 1px dotted #BCBCBC;
    position: absolute;
    padding: 5px 0px 5px 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;
    line-height: 160%;
    clear: both;
}

.side a:link	{ text-decoration: none; color: #444444; }
.side a:visited	{ text-decoration: none; color: #444444; }

.sidecontentp {
    padding: 10px;
}

.sidecontent {
    padding: 10px;
    border-top: 1px dotted #BCBCBC;
}

body {
    background #FFFFFF;
    font-size: 10pt;
    font-family: arial, helvetica;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.body {
    height: 100%;
    position: relative;
}
