Source: posixtestsuite
Section: devel
Priority: optional
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Guillem Jover <guillem@debian.org>, Aurelien Jarno <aurel32@debian.org>
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: expect
Standards-Version: 3.9.2
Homepage: http://posixtest.sourceforge.net/
Vcs-Browser: http://svn.debian.org/viewsvn/glibc-bsd/trunk/posixtestsuite/
Vcs-Svn: svn://svn.debian.org/svn/glibc-bsd/trunk/posixtestsuite/

Package: posixtestsuite
Architecture: all
Depends: ${misc:Depends}
Description: POSIX conformance test suite (dummy package)
 The POSIX Test Suite is a free (as in speech) test suite with the goal of
 performing conformance, functional, and stress testing of the IEEE
 1003.1-2001 System Interfaces specification in a manner that is agnostic to
 any given implementation.
 .
 This is a dummy package.  If you want to run the testsuite, use the source
 package of the same name (e.g. apt-get source posixtestsuite).
