#!/usr/bin/make -f

build-indep:
	dh_testdir

	$(MAKE)

build-arch:

build: build-indep build-arch

clean:
	dh_testdir
	dh_testroot

	$(MAKE) clean

	dh_clean

install-indep: build-indep
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

#	$(MAKE) install DESTDIR=$(CURDIR)/debian/posixtestsuite

binary-indep: install-indep
	dh_testdir
	dh_testroot
	dh_installdocs
#	dh_installexamples
	dh_installman
#	dh_installinfo
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
	# Nothing to do.

binary: binary-indep binary-arch

.PHONY: clean install
.PHONY: build build-indep build-arch binary-indep binary-arch binary
