#!/usr/bin/make -f

DEB_TAR_SRCDIR := posixtestsuite-1.4.3

build/posix-testsuite:: apply-patches
	if test -e /lib/libsem.* ; then \
		echo "-lsem" >> $(DEB_SRCDIR)/LDFLAGS ; \
	fi

include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
