#!/usr/bin/make -f
# Sample debian/rules that uses cdbs.  Originaly written by Robert Millan.
# This file is public domain.
  
DEB_TAR_SRCDIR                  := kldutils
DEB_AUTO_CLEANUP_RCS            := yes
DEB_DH_INSTALLINIT_ARGS		:= --no-start --update-rcd-params="start 20 S ."

# Add here any variable or target overrides you need

PATH:=/usr/lib/freebsd:$(PATH)
DESTDIR=$(CURDIR)/debian/kldutils
PMAKE=make DESTDIR=$(DESTDIR)

build/kldutils:: apply-patches
	for i in load stat unload ; do \
		$(PMAKE) -C $(DEB_SRCDIR)/kld$$i ; \
	done

binary/kldutils:: common-install-prehook-arch
	for i in load stat unload ; do \
		$(PMAKE) -C $(DEB_SRCDIR)/kld$$i install ; \
		mv $(CURDIR)/debian/kldutils/kld$$i $(CURDIR)/debian/kldutils/sbin/ ; \
	done

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
