Source: kfreebsd-kernel-headers
Section: devel
Priority: standard
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>, Guillem Jover <guillem@debian.org>
Build-Depends: debhelper (>= 4.1.0), kfreebsd-source-5.4 (>= 5.4-1)
Standards-Version: 3.6.2

Package: kfreebsd-kernel-headers
Architecture: kfreebsd-i386
Replaces: kfreebsd-headers
Conflicts: kfreebsd-headers
Description: kernel of FreeBSD headers for development
 This package provides headers from the kernel of FreeBSD. These headers
 are used by the installed headers for GNU glibc and other system libraries.
