# Kernel for Debian GNU/kFreeBSD on a XEN machine

include XEN

ident		Debian-xen
makeoptions	COPTFLAGS="-O2 -pipe -march=i686 -mtune=generic"

# disable extra checks enabled in upstream XEN config
nooption 	INVARIANTS		# Enable calls of extra sanity checking
nooption 	INVARIANT_SUPPORT	# Extra sanity checks of internal structures, required by INVARIANTS
nooption 	WITNESS			# Enable checks to detect deadlocks and cycles
nooption 	WITNESS_SKIPSPIN	# Don't run witness on spinlocks for speed


# kFreeBSD needs
options		COMPAT_LINUX

# raise shared memory limits
options         SHMMAXPGS=4096
options         SHMSEG=256
options         SEMMNI=256
options         SEMMNS=512
options         SEMMNU=256

# Options used by all Debian kernels
include		DEBIAN
