Source: ufsutils
Section: utils
Priority: optional
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>, Guillem Jover <guillem@debian.org>
Build-Depends: debhelper (>= 7), quilt, libedit-dev, libncurses5-dev,
 libfreebsd-dev [kfreebsd-i386 kfreebsd-amd64], libbsd-dev
Vcs-Browser: http://svn.debian.org/wsvn/glibc-bsd/trunk/ufsutils/
Vcs-Svn: svn://svn.debian.org/glibc-bsd/trunk/ufsutils/
Standards-Version: 3.8.1

Package: ufsutils
Architecture: any
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: fsck-backend
Conflicts: hurd
Description: UFS filesystems utilities
 Utilities to manage the UFS filesystem, mostly used in BSD or derived
 operating systems. This include FFS, UFS and UFS2.
 .
 The following utilities are provided:
  * mkfs.ufs
  * fsck.ufs
  * fsdb.ufs
  * dumpfs.ufs
  * growfs.ufs
  * tunefs.ufs
  * badsect.ufs
  * ffsinfo

Package: libufs2
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UFS filesystem shared library
 Shared library to manage the UFS filesystem, mostly used in BSD or derived
 operating systems. This include FFS, UFS and UFS2.

