#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ufsutils = ufsutils
libufs = libufs2

DESTDIR = $(CURDIR)/debian/tmp

CFLAGS = -Wall -g

DEB_HOST_ARCH_OS = $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

# on GNU/kFreeBSD we need additional library
ifeq (kfreebsd,$(DEB_HOST_ARCH_OS))
LDADD += -lfreebsd
else
# really only on other systems, as GNU/kFreeBSD already have off_t 64bit
# on GNU/kFreeBSD it must not be enabled, as it would change size of ino_t
CFLAGS += -D_FILE_OFFSET_BITS=64 -I$(CURDIR)/freebsd
endif

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

build: build-stamp
build-stamp:
	dh_testdir

	QUILT_PATCHES=$(CURDIR)/debian/patches quilt push -a || test $$? = 2

	CFLAGS="$(CFLAGS)" LDADD="$(LDADD)" $(MAKE)
	
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	
	[ ! -f Makefile ] || $(MAKE) clean

	QUILT_PATCHES=$(CURDIR)/debian/patches quilt pop -a || test $$? = 2
	rm -rf $(CURDIR)/.pc

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	mkdir -p $(DESTDIR)/lib
	mkdir -p $(DESTDIR)/sbin
	mkdir -p $(DESTDIR)/usr/share/man/man8
	
	$(MAKE) install DESTDIR=$(DESTDIR) prefix=/usr exec_prefix=/

# Build architecture-independent files here.
binary-indep: build install
	# Nothing to do.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install --sourcedir=debian/tmp
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps -ldebian/$(libufs)/usr/lib -L$(libufs)
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install

