#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

this = $(MAKE) -f debian/rules
lib = libufs2

DESTDIR = $(CURDIR)/debian/tmp

CFLAGS = -Wall -g

DEB_HOST_ARCH_OS = $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

# GNU/kFreeBSD already have off_t 64bit. It must not be enabled,
# as it would change size of ino_t
ifneq (kfreebsd,$(DEB_HOST_ARCH_OS))
# really only on other systems, as GNU/kFreeBSD already have off_t 64bit
# on GNU/kFreeBSD it must not be enabled, as it would change size of ino_t
CFLAGS += -D_FILE_OFFSET_BITS=64 -I$(CURDIR)/freebsd
endif

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

include /usr/share/quilt/quilt.make

build: patch
	dh_testdir
	
	CFLAGS="$(CFLAGS)" LDADD="$(LDADD)" $(MAKE)

clean:
	dh_testdir
	dh_testroot
	
	[ ! -f Makefile ] || $(MAKE) clean
	
	$(this) unpatch
	
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	
	mkdir -p $(DESTDIR)/lib
	mkdir -p $(DESTDIR)/sbin
	mkdir -p $(DESTDIR)/usr/share/man/man8
	
	$(MAKE) install DESTDIR=$(DESTDIR) prefix=/usr exec_prefix=/

# Build architecture-independent files here.
binary-indep:
	# Nothing to do.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install --sourcedir=debian/tmp
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps -ldebian/$(lib)/usr/lib -L$(lib)
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install

