Source: libbsd
Priority: optional
Section: libs
Maintainer: Debian GNU/kFreeBSD <debian-bsd@lists.debian.org>
Uploaders: Hector Garcia <hector@debian.org>,
 Guillem Jover <guillem@debian.org>, Aurelien Jarno <aurel32@debian.org>
Vcs-Browser: http://svn.debian.org/wsvn/glibc-bsd/trunk/libbsd/
Vcs-Svn: svn://svn.debian.org/glibc-bsd/trunk/libbsd/
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.0
Homepage: http://libbsd.freedesktop.org/

Package: libbsd-dev
Section: libdevel
Architecture: any
Depends: libbsd0 (= ${binary:Version})
Description: utility functions from BSD systems - development files
 This library provides some functions commonly available on BSD systems but
 not on others like GNU systems.
 .
 The currently provided functions are:
 .
 arc4random, arc4random_stir, arc4random_addrandom, bsd_getopt,
 errc, warnc, verrc, vwarnc, fgetln, fgetwln, fmtcheck, heapsort,
 humanize_number, inet_net_pton, getprogname, setprogname, strlcpy,
 strlcat, setmode, getmode, vis, strvis, strvisx, unvis, strunvis, strunvisx,
 MD5Init, MD5Update, MD5Pad, MD5Final, MD5Transform, MD5End, MD5File,
 MD5FileChunk, MD5Data.
 .
 Also included are some queue macro definitions not present on includes
 from glibc.

Package: libbsd0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: freebsd-utils (<< 7.0-2) [kfreebsd-i386 kfreebsd-amd64]
Description: utility functions from BSD systems - shared library
 This library provides some functions commonly available on BSD systems
 but not on others like GNU systems.

Package: libbsd0-dbg
Section: libs
Priority: extra
Architecture: any
Depends: libbsd0 (= ${binary:Version})
Description: utility functions from BSD systems - debugging symbols
 This library provides some functions commonly available on BSD systems
 but not on others like GNU systems.

