Source: libbsd
Priority: optional
Maintainer: Hector Garcia <hector@debian.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2
Section: libs

Package: libbsd-dev
Section: libdevel
Architecture: any
Depends: libbsd0 (= ${Source-Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libbsd0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
