Source: kfreebsd5-headers
Section: base
Priority: required
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), bzip2
Standards-Version: 3.6.0

Package: kfreebsd5-headers
Architecture: all
Description: kFreeBSD headers.
 kFreeBSD headers.
