#!/usr/bin/make -f

#version := 5.2.1
DEB_TAR_SRCDIR = src

#build/kfreebsd5-headers:: apply-patches
#	chmod +x debian/testheader
#	set -e ; for i in \
#		`find $(CURDIR)/$(DEB_SRCDIR)/import -type f -name \*.h` ; \
#		do $(CURDIR)/debian/testheader $$i ; done

binary/kfreebsd5-headers:: common-install-prehook-arch
	mkdir -p debian/kfreebsd5-headers/usr/src/kfreebsd5-headers
	cp -a $(DEB_SRCDIR)/sys/* \
		debian/kfreebsd5-headers/usr/src/kfreebsd5-headers/

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
