Source: freebsd-utils
Section: base
Priority: important
Maintainer: GNU/kFreeBSD Maintainers <debian-bsd@lists.debian.org>
Uploaders: Aurelien Jarno <aurel32@debian.org>, Guillem Jover <guillem@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), freebsd6-buildutils, libkvm-dev (>= 6.1), libbsd-dev (>= 0.0-1.2), libc0.1-dev (>= 2.3.6-8), flex | flex-old, kfreebsd-kernel-headers (>= 0.20), libfreebsd-dev (>= 0.0-5), libipx-dev, libkiconv-dev
# libkvm-dev: dmesg
# libfreebsd (>= 0.0-5): ifconfig
# libipx-dev: ifconfig
# libkiconv-dev: mount_*
# libc0.1-dev (>= 2.3.6-8): ifconfig
Standards-Version: 3.7.2

Package: freebsd-utils
Priority: required
Essential: yes
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}, net-tools | freebsd-hackedutils
Replaces: freebsd-hackedutils (<= 5.2.1-29)
Description: FreeBSD utilities needed for GNU/kFreeBSD.
 This package contains FreeBSD utilities needed for GNU/kFreeBSD.

Package: module-init-tools
Priority: important
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}
Replaces: kldutils (<< 6.0-2.really.5.4-0.6), freebsd-utils (<= 5.2.1-16)
Description: tools for managing kFreeBSD modules
 This package contains a set of programs for loading, inserting, and
 removing kernel modules for kFreeBSD.

Package: kldutils
Priority: extra
Architecture: all
Depends: module-init-tools
Description: Transitional package to module-init-tools
 Transitional package depending on module-init-tools.
 .
 Once installed, this package may be safely removed.

Package: kbdcontrol
Architecture: kfreebsd-i386 kfreebsd-amd64
Depends: ${shlibs:Depends}, debconf
Description: Command line tool to change keyboard layout
 Original FreeBSD command to set keyboard layout and the FreeBSD possible
 keyboards.

#Package: net-tools
#Section: net
#Priority: important
#Architecture: kfreebsd-i386 kfreebsd-amd64
#Depends: ${shlibs:Depends}
#Replaces: freebsd-utils (<< 5.4), freebsd-hackedutils (<= 5.2.1-29)
#Description: FreeBSD networking tools
# This package contains the FreeBSD tools needed to manage networking on
# GNU/kFreeBSD.

# FIXME:
# - add ktrace (ktrace, kdump)
# - add jail
# - add ppp (ppp, pppctl, pppd)
# - add ccdconfig (ccdconfig + /etc/ccdconfig.conf)
# - add pf (pfctl + authpf + /etc stuff + init.d script)
# - add ipfw (???)
# - add devfs
