#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if test -e /lib/modules/`uname -r` ; then
  module_dir="/lib/modules/`uname -r`"
else
  module_dir="/boot/kernel"
fi

get_module_description ()
{
  if line=`grep "^$1[[:space:]]" /usr/share/kldutils/module_descriptions` ; then
    echo ${line} | sed -e "s/^[^[:space:]]*[[:space:]]*/ (/g" -e "s/$/)/g"
  fi
  return 0
}

for i in `ls ${module_dir}/*.ko | sed -e "s,.*/,,g" -e "s/\.ko$//g"` ; do
  case $i in
    # acpi is handler by boot loader, linux/linprocfs are always loaded
    acpi|linux|linprocfs) ;;
    if_*)
      if [ "${network}" = "" ] ; then
        network="$i`get_module_description $i`"
      else
        network="${network}, $i`get_module_description $i`"
      fi
    ;;
    snd_*|sound|speaker)
      if [ "${sound}" = "" ] ; then
        sound="$i`get_module_description $i`"
      else
        sound="${sound}, $i`get_module_description $i`"
      fi
    ;;
    *)
      if [ "${other}" = "" ] ; then
        other="$i`get_module_description $i`"
      else
        other="${other}, $i`get_module_description $i`"
      fi
    ;;
  esac
done

db_subst kldutils/network choices "$network"
db_input high kldutils/network || true
db_go

db_subst kldutils/sound choices "$sound"
db_input high kldutils/sound || true
db_go

db_subst kldutils/other choices "$other"
db_input high kldutils/other || true
db_go
