Source: kfreebsd-headers
Section: base
Priority: required
Maintainer: Robert Millan <rmh@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.0), bzip2
Standards-Version: 3.6.0

Package: kfreebsd-headers
Architecture: kfreebsd-i386
Description: Kernel of FreeBSD headers.
 Kernel of FreeBSD headers.
